<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Pizzas</title>
</head>

<body>
    <header>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </header>
    <th:block th:if="${pizzas.toList().size() > 0}">
        <th:block
            th:replace="~{fragments/jumbo :: jumbo('https://as1.ftcdn.net/v2/jpg/03/19/71/38/1000_F_319713812_6J60pb0X8yf2VzlajNvDzxUJUf6c20yy.jpg', Dashboard, 'Handle you resturant here', ${pizzas.toList()[0].getId()}, false, 'Admin panel')}">
        </th:block>
    </th:block>

    <th:block th:unless="${pizzas.toList().size() > 0}">

        <h1></h1>
    </th:block>

    <main>
        <section>
            <div class="container my-5 d-flex align-item-center justify-content-end">
                <a th:href="@{/dashboard/pizza/create}" class="btn btn-primary">Add a new pizza</a>
                <a th:href="@{/ingredients}" class="btn btn-primary mx-3">Show ingredients</a>
            </div>
        </section>
        <section class="search_filter my-5">
            <div class="container">
                <form th:action="@{/dashboard/results}" th:method="GET">
                    <div class="mb-3">
                        <label for="" class="form-label">Search for a pizza</label>
                        <input type="text" class="form-control" name="name" id="" aria-describedby="helpId"
                            placeholder="margherita" required />
                        <small id="helpId" class="form-text text-muted">Search for a pizza by name</small>
                        <input type="hidden" name="page" value="0">
                        <input type="hidden" name="limit" value="10">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                    <a class="btn btn-warning" th:href="@{/menu?page=0&limit=10}">Reset Filters</a>
                </form>
            </div>

        </section>
        <section class="my-5">
            <div class="container">
                <div th:if="${pizzas.toList().size() > 0}">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pizza : ${pizzas.toList()}" th:object="${pizza}">
                                <td class="w-50">
                                    <a th:href="@{/menu/pizza/{id}(id=*{getId()})}">
                                        <img class="w-50 rounded-5" th:src="@{*{getImage()}}" alt="">
                                    </a>

                                </td>
                                <td>
                                    [[*{getName()}]]
                                </td>
                                <td>
                                    [[*{getPrice()}]]
                                </td>

                                <td>
                                    [[*{getDescription()}]]
                                </td>
                                <td>
                                    <div class="row row-cols-2">
                                        <form class="col" th:action="@{/dashboard/edit/{pizzaId}(pizzaId=*{getId()})}">
                                            <div>
                                                <button class="btn btn-warning"><i class="bi bi-pen-fill"></i></button>
                                            </div>
                                        </form>
                                        <!-- Button trigger modal -->
                                        <div class="col">
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                th:data-bs-target="'#modal-' + ${pizza.getId()}">
                                                <i class="bi bi-trash-fill"></i>
                                            </button>
                                        </div>
                                    </div>



                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'modal-' + ${pizza.getId()}" tabindex="-1"
                                        aria-labelledby="modalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="modalLabel">Confirm deleting
                                                        operation</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want
                                                    to delete the pizza: [[*{getName()}]]?
                                                    Press delete to confirm, press close to exit without confirming
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <form th:action="@{/dashboard/delete/{id}(id=*{getId()})}"
                                                        method="POST">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </div>
                <div th:unless="${pizzas.toList().size() > 0}">
                    <h1>No pizzas found</h1>
                </div>
                <nav class="w-100 d-flex align-item-center justify-content-center mt-5">
                    <ul class="pagination">
                        <li class="page-item" th:if="${pizzas.hasPrevious()}">
                            <a class="page-link" th:href="@{${prevPageLink}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:if="${pizzas.hasNext()}">
                            <a class="page-link" th:href="@{${nextPageLink}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </main>
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>

    <div th:replace="~{fragments/resources :: scripts}"></div>

</body>

</html>