<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="jumbo(img, title, description, id, show, jumboTitle)">
    <div class="p-5 bg-light shadow jumbo">
        <div class="overlay"></div>

        <img class="img_jumbo" th:src="@{${img}}" alt="">

        <div class="container-fluid py-5 jumbo_content">
            <h5>[[${jumboTitle}]]</h5>
            <h1 class="display-5 fw-bold">[[${title}]]</h1>
            <p class="col-md-8 fs-4">
                [[${description}]]
            </p>
            <a th:if="${show == true}" th:href="@{/menu/pizza/{pizzaId}(pizzaId=${id})}" class="btn btn-primary btn-lg"
                type="button">
                Details
            </a>
        </div>
    </div>

</th:block>


</html>