<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Pizzas</title>
</head>

<body>
    <header>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </header>

    <main>
        <section class="my-5">
            <div class="container">
                <div>
                    <a class="btn btn-primary" th:href="@{/ingredients/create}">Add an ingredient</a>
                </div>
                <div th:unless="${ingredients.size() > 0}">
                    No ingredients found
                </div>
                <table class="table" th:if="${ingredients.size() > 0}">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ingredient : ${ingredients}" th:object="${ingredient}">
                            <th scope="row">[[*{getName()}]]</th>
                            <td class="d-flex gap-4">
                                <a class="btn btn-primary" th:href="@{/ingredients/{id}/edit(id=*{getId()})}"><i
                                        class="bi bi-pencil-fill"></i></a>
                                <!-- Button trigger modal -->
                                <div class="col">
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        th:data-bs-target="'#modal-' + ${ingredient.getId()}">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </div>


                                <!-- Modal -->
                                <div class="modal fade" th:id="'modal-' + ${ingredient.getId()}" tabindex="-1"
                                    aria-labelledby="modalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="modalLabel">Confirm deleting
                                                    operation</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want
                                                to delete the ingredient: [[*{getName()}]]?
                                                Press delete to confirm, press close to exit without confirming
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <form th:action="@{/ingredients/{id}/delete(id=*{getId()})}"
                                                    method="POST">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>

    <div th:replace="~{fragments/resources :: scripts}"></div>

</body>

</html>